
<mat-toolbar class="header;mat-elevation-z8">Documents <br>Search Documents or Select Category
  
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
       

       <mat-list >
       <div *ngFor = "let menu of menus">
            <mat-list-item><a (click)="showInfo(menu.name)">{{ menu.name }}</a>
              <!-- <button mat-icon-button (click)="showInfo(menu.name)">
                 <mat-icon>info</mat-icon>
              </button> -->
            </mat-list-item>   
        </div>
        
     </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      
      <div class="form-group col-md-4">
        <input type="text" class="form-control"  placeholder="Enter Keyword for filter result" [(ngModel)]="searchedKeyword">
      </div>
   
   <div class="content" > 
     <div fxLayout="row wrap" fxLayoutGap="16px" grid>
     <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let member of members | filter:searchedKeyword">
        <mat-card  class ="mat-elevation-z6" >
         
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title  >{{member.title}}</mat-card-title>
            
          </mat-card-header>
          
          <mat-card-content>
            <p>
              {{member.content}}
            </p>
          </mat-card-content>
       
        </mat-card>
     </div>
    </div>
      </div>
    
      
    </mat-sidenav-content>
  </mat-sidenav-container>